<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" id="message" />
    <input type="button" value="Send" onclick="sendMessage()" />

    <h1>Messages :</h1>
    <div id="messages"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io("http://localhost:7000");

      socket.on("message", (data) => {
        console.log("Someone Sent : ", data);
        document.getElementById("messages").innerHTML += "<p>" + data + "</p>";
      });

      const sendMessage = () => {
        const message = document.getElementById("message").value;
        socket.emit("message", message);
        console.log("message sent");
      };
    </script>
  </body>
</html>
